.user-form-container {
    max-width: 500px;
    margin: auto 40px;
    padding: 32px 24px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.08);
}

.user-form-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 24px;
    color: #22223b;
    text-align: center;
}

.user-form-group {
    margin-bottom: 20px;
}

.user-form-label {
    display: flex;
   justify-content: space-between;
    margin-bottom: 4px;
    font-weight: 500;
    color: #4a4e69;
}


.user-form-phones{
    display: flex;
    flex-direction: column; 
    gap: 10;
    margin-bottom: 8; 
}


.user-form-phone-entry {
    display: flex;
    align-items: center;
    gap: 8px;;
}

.user-form-remove-phone{
    
    color: #e63946;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 0.9rem;
}

.user-form-remove-phone:disabled {
    color: lightgray;
    cursor: not-allowed;
}

.user-form-add-phone{
    background-color: #5f6dfa;
    color: white;
    border: none;
    border-radius: 24px;
    padding: 5px 24px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 8px;
    width:100%;
}

.user-form-add-phone:disabled{
    background-color: #babff7;
    cursor: not-allowed;
}

.user-form-skills {
    display: flex;
    flex-direction: row; 
    gap: 10px;
    margin-bottom: 8px; 
    margin-left:10px;
    flex-wrap: wrap;
}
.user-form-skills-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #f3f3f3;
    width:fit-content;
    height:fit-content;
    border-radius:9999px;
    padding: 0.3rem 0.5rem;
}
.user-form-skills-entry:hover{
    background-color: #dad2d2;
}

.user-form-remove-skills {
    color:#22223b;
    background-color: transparent;
    padding: 0px;
}
.user-form-add-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:lightgray;
    border-radius: 10px;
    width:40px;
    font-size:0.92em;
    color:#000;
}

.user-form-add-skills:disabled{
    background-color: rgb(255, 252, 252);
    cursor: not-allowed;
}



.user-form-input,
.user-form-select,
.user-form-textarea {
    padding: 5px 12px;
    border: 1px solid #c9c9c9;
    border-radius: 6px;
    font-size: 1rem;
    background: #f8f8fa;
    transition: border 0.2s;
}

.user-form-input:focus,
.user-form-select:focus,
.user-form-textarea:focus {
    border-color: #5f6dfa;
    outline: none;
}
.input-error{
    border: 1px solid rgb(219, 49, 49);
}

.user-form-error {
    color: #e63946;
    font-size: 0.95rem;
    margin-top: 4px;
}

.user-form-button {
    padding: 10px 24px;
    background: #5f6dfa;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s;
}

.user-form-button:disabled {
    background: #bfc6fa;
    cursor: not-allowed;
}

.user-form-button:hover:not(:disabled) {
    background: #3d4fc3;
}